.discount-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  
  .actual-price {
    text-decoration: line-through;
    color: grey;
    margin-left: 5px;
  }
  
  .discount-percentage {
    color: grey;
    margin-left: 5px;
  }